.Cart {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    padding-top: 8rem;

    .cart-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .cart-items-section {
        width: 65%;
        background: #fff;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .section-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: bold;
            color: #333;
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            border-bottom: 1px solid #ddd;

            .item-image {
                flex-shrink: 0;
                width: 80px;
                height: 80px;
                border-radius: 8px;
                overflow: hidden;
                background-color: #f4f4f4;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1rem;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            .item-info {
                flex-grow: 1;

                .item-name {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                .item-category {
                    font-size: 0.9rem;
                    color: #888;
                }
            }

            .item-details {
                display: flex;
                align-items: center;
                gap: 1rem;
                transform: translateY(-100px);
                padding: 3%;
                

                .item-price {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                .item-quantity {
                    display: flex;
                    align-items: center;

                    button {
                        padding: 0.5rem;
                        font-size: 1rem;
                        background: #4caf50;
                        color: #fff;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        margin-top: 5px;

                        &:disabled {
                            background: #ccc;
                        }
                    }

                    span {
                        margin: 0 0.5rem;
                        font-size: 1rem;
                    }
                }

                .remove-item {
                    background: none;
                    border: none;
                    color: #f00;
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }
    }

    .cart-summary-section {
        width: 30%;
        background: #fff;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .summary-details {
            margin-bottom: 1.5rem;

            .summary-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;

                p {
                    font-size: 1rem;
                }
            }

            .summary-total {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                font-size: 1.2rem;
                margin-top: 1rem;
            }
        }

        .checkout-button {
            width: 100%;
            padding: 0.8rem;
            font-size: 1rem;
            font-weight: bold;
            color: #fff;
            background: #4caf50;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                background: #45a045;
            }
        }
    }
}
